.change-password-container {
  font-size: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.change-password-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
