.chat-selection-container {
  max-width: 500px;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.chat-selection-available-friends {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.chat-selection-chat-window {
  width: 290px;
}
