.chat-section-container {
  width: 500px;
  display: flex;
  flex-direction: row-reverse;
}

.chat-selection-available-friends-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: var(--green2);
}

.chat-selection-chat-container {
  flex: 3;
}
