.chat-window-container {
  padding: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.chat-window-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chat-window-close-btn {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-window-history {
  height: 200px;
  background-color: var(--gray1);
}

.chat-window-bottom-section {
  padding-top: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
}
