.comments-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comments-window {
  height: 100%;
  overflow: auto;
}

.comments-bot-section {
  display: flex;
  flex-direction: row;
}
