.create-post-container {
  margin: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: var(--green2);
}

.create-post-bottom {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.create-post-icons {
  margin: 5px;
}
