.create-post-container {
  padding: 5px;
  margin: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.create-post-bottom-section {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.create-post-icons {
  margin: 5px;
}
