.friends-container {
  font-size: 20px;
  width: 800px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

.friends-top {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.friends-text {
  margin-right: 10px;
}

.friends-find-new-text {
  padding: 20px;
}

.friends-all,
.friends-find-all {
  max-height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  overflow: auto;
}
