.friends-container {
  width: 800px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}

.friends-top {
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: red;
}

.friends-all,
.friends-find-all {
  display: flex;
  flex-direction: row;
}

.friends-all {
  flex-wrap: wrap;
}
