.header-container {
  height: 60px;
  width: 100vw;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 500;
}

.header-search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-navbar-container {
  margin-right: 20px;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: end;
}
