.login-page-container {
    font-size: 30px;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lime;
}

.login-page-content-container {
    display: flex;
    flex-direction: row;
}

.login-page-logo {
    background-color: purple;
}
.login-page-form-container {
    text-align: end;
    background-color: brown;
}