.main-page-container {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

/* MainPageButton.js */

.main-page-button {
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  background-color: var(--green1);
  text-align: center;
  cursor: pointer;
}

.main-page-button:hover {
  background-color: white;
}

/* Sidebar.js */

.main-page-sidebar-container {
  padding: 10px;
  width: 200px;
  height: auto;
  background-color: var(--green2);
  position: fixed;
  left: 0;
}

/* RightSideWindow.js */

.right-side-window-container {
  min-width: 200px;
  height: auto;
  position: fixed;
  right: 0;
}

/* Footer.js */

.footer-container {
  margin-top: 50px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green2);
}
