.main-page-container {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}

/* MainPageButton.js */

.main-page-button {
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  background-color: var(--green2);
  text-align: center;
  cursor: pointer;
}

.main-page-button:hover {
  background-color: white;
}
