.main-button {
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.main-button:hover {
  background-color: white;
}
.main-button.red {
  background-color: red;
}

.main-button.red:hover {
  background-color: white;
}
