.notification-container {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.notification-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notification-text {
  padding-bottom: 5px;
}

.notification-actions {
  display: flex;
  flex-direction: row;
}

.notification-date {
  align-self: end;
}
