.post-container {
  font-size: 20px;
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.post-top-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.post-top-user-info {
  margin: 10px;
  height: 50px;
  width: auto;
}

.post-top-time-posted {
  margin-right: 10px;
}

.post-top-description {
  padding: 5px;
  margin: 10px;
  min-height: 60px;
}

.post-image {
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.post-image img {
  max-width: 100%;
  max-height: 100%;
}

.post-bot-section {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-bot-like,
.post-bot-comment {
  margin: 10px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.post-bot-like-counter,
.post-bot-comment-text {
  padding: 7px;
  font-size: 20px;
  font-weight: 700;
}

.post-bot-like-counter {
  cursor: pointer;
}

.post-bot-like-counter:hover {
  color: white;
}

.post-likes-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(1.5);
  z-index: 1000;
}

.post-hidden-container {
  height: 0px;
  background-color: var(--gray1);
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.post-hidden-container.open {
  height: 200px;
}
