.user-info-container {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-info-picture {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 4px;
  background-color: yellow;
}

.user-info-name {
}
