.user-info-container-horizontal,
.user-info-container-vertical {
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-info-container-horizontal {
  flex-direction: row;
  padding-right: 10px;
}

.user-info-container-vertical {
  flex-direction: column;
}

.user-info-container-horizontal:hover,
.user-info-container-vertical:hover {
  background-color: white;
}

.user-info-photo {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 4px;
}

.user-info-name {
}
