:root {
  --green1: rgb(184, 222, 184);
  --green2: rgb(105, 193, 105);
  --green3: rgb(15, 144, 15);
  --green4: rgb(7, 66, 7);

  --gray1: rgb(183, 183, 183);
  --gray2: rgb(123, 123, 123);
  --gray3: rgb(75, 75, 75);
  --gray4: rgb(45, 44, 44);
}
